<div class="row">
  <div class="col-md-6">
    <h3>Monday, July 11</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td>Overview and introductions</td> </tr>
      <tr> <td>1:15</td>  <td><a href="https://smcclatchy.github.io/inference-for-high-dimensional-data/02-example-gene-expression-data/index.html" target="_blank">Example Gene Expression Datasets</a></td> </tr>
      <tr> <td>2:00</td>  <td>Coffee/tea break</td> </tr>
      <tr> <td>2:10</td>  <td><a href="https://smcclatchy.github.io/inference-for-high-dimensional-data/03-inference-for-highthroughput/index.html" target="_blank">Basic inference for high-throughput data</a></td> </tr>
      <tr> <td>2:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>3:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tuesday, July 12</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td><a href="https://smcclatchy.github.io/inference-for-high-dimensional-data/04-procedures-for-multiple-testing/index.html" target="_blank">Procedures for Multiple Comparisons</a></td> </tr>
      <tr> <td>1:50</td>  <td><a href="https://smcclatchy.github.io/inference-for-high-dimensional-data/05-error-rates/index.html" target="_blank">Error Rates</a></td> </tr>
      <tr> <td>2:00</td>  <td>Coffee/tea break</td> </tr>
      <tr> <td>2:10</td>  <td><a href="https://smcclatchy.github.io/inference-for-high-dimensional-data/06-bonferroni-correction/index.html" target="_blank">The Bonferroni Correction</a></td> </tr>
      <tr> <td>2:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>3:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Thursday, July 14</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td><a href="https://smcclatchy.github.io/inference-for-high-dimensional-data/07-false-discovery-rate/index.html" target="_blank">False Discovery Rate</a></td> </tr>
      <tr> <td>2:00</td>  <td>Coffee/tea break</td> </tr>
      <tr> <td>2:10</td>  <td><a href="https://smcclatchy.github.io/inference-for-high-dimensional-data/08-direct-approach-false-discovery-rate/index.html" target="_blank">Direct Approach to FDR and q-values</a></td> </tr>
      <tr> <td>2:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>3:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Monday, July 18</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td><a href="https://smcclatchy.github.io/inference-for-high-dimensional-data/09-basic-exploratory-data-analysis/index.html" target="_blank">Basic EDA for high-throughput data</a></td> </tr>
      <tr> <td>2:00</td>  <td>Coffee/tea break</td> </tr>
      <tr> <td>2:10</td>  <td><a href="https://smcclatchy.github.io/inference-for-high-dimensional-data/10-principal-component-analysis/index.html" target="_blank">Principal Components Analysis</a></td> </tr>
      <tr> <td>2:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>3:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Tuesday, July 19</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td><a href="https://smcclatchy.github.io/inference-for-high-dimensional-data/11-statistical-models/index.html" target="_blank">Statistical Models</a></td> </tr>
      <tr> <td>2:00</td>  <td>Coffee/tea break</td> </tr>
      <tr> <td>2:10</td>  <td><a href="https://smcclatchy.github.io/inference-for-high-dimensional-data/11-statistical-models/index.html" target="_blank">Statistical Models (continued) </a></td> </tr>
      <tr> <td>2:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>2:50</td>  <td><a href="" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>3:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>



